body{
    padding: 0;
    margin: 0;
    background-color: var(--Background-Colour);
    color: var(--Text-Colour);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Page{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.Login-Container{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--Secondary-BG-Colour);
    border-radius: 25px;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(120%, -50%);
    justify-content: center;
    align-items: center;
}

.Text{
    width: 70%;
    height: 7%;
    border-radius: 15px;
    background-color: var(--Background-Colour);
    border: none;
    font-weight: 700;
    font-size: large;
    color: var(--Text-Colour);
}

.Button{
    width: 45%;
    height: 9%;
    border-radius: 15px;
    background: var(--Primary-Gradient);
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

.Button:hover{
    transition: 0.5s;
    width: 50%;
    height: 11%;
}

.Login-Container h1{
    position: absolute;
    top: 2%;
}

.Login-Container h3{
    font-size: 25px;
}