*{
    padding: 0;
    margin: 0;
    color: #cfcfcf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MainBody{
    background-color: #1d1d1d;
    height: 100vh;
    width: 100vw;
}

.TopBar{
    background-color: #242425;
    height: 6%;
    width: 100%;
    border-bottom: 1.5px solid #333131;
}

.Body{
    height: 93.6%;
    width: 100%;
}

.AccountContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 6%;
    top: 0%;
    right: 0%;
    justify-content: right;
    align-items: center;
}

.Menu{
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: none;
    background-color: #1d1d1d;
    cursor: pointer;
    margin: 0 5px;
}

.ProfilePicture{
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    border: none;
}

.Logo {
    cursor: pointer;
    position: relative;
    height: 80%;
    width: 5vh;
    border-radius: 10px;
    top: 50%;
    left: 4px;
    transform: translate(0, -50%);
    background: url("SmallLogo.png") no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 1/1;
}

.Dock{
    position: absolute;
    display: flex;
    bottom: 2%;
    right: 50%;
    transform: translate(50%, 0%);
    background-color: #242425;
    height: 10%;
    width: 40vh;
    border-radius: 15px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.Dock.Hidden{
    display: none;
}

.Dock a{
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    border: none;
    background-color: #474777;
    cursor: pointer;
    text-decoration: none;
}