{% extends "Base.html" %}

{% block head %}
<title>Auth</title>
<link rel="stylesheet" href="{{ url_for('static', filename='Base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='Auth.css') }}">
{% endblock %}

{% block body %}
<div class="Main Frm {{ShowMain}}">
    <h1 class="Title">Idk</h1>
    <a href="/auth/signup" class="SignupFrmBtn FrmBtn">Signup</a>
    <a href="/auth/login" class="LoginFrmBtn FrmBtn">Login</a>
</div>
<form action="/auth/login" method="POST">
    <div class="LoginFrm Frm {{ShowLogin}}">
        <h1 class="Title">Login</h1>
        <a href="/auth" class="BackBtn"><</a>
        <input type="text" placeholder="Username or Email", name="UserEmail", id="UserEmail" class="Username Input">
        <input type="password" placeholder="Password", name="Password", id="Password", class="Password Input">
        <input type="submit" value="Login", class="InputBtn">
    </div>
</form>
<form action="/auth/signup" method="POST">
    <div class="SignupFrm Frm {{ShowSignup}}">
        <a href="/auth" class="BackBtn"><</a>
        <h1 class="Title">Signup</h1>
        <input type="text" placeholder="Username", name="Username", id="Username", class="Username Input">
        <input type="text" placeholder="Email", name="Email", id="Email", class="Email Input">
        <div class="Names">
            <input type="text" placeholder="Firstname", name="FName", id="FName", class="FName Input">
            <input type="text" placeholder="Lastname", name="LName", id="LName", class="LName Input">
        </div>
        <input type="password" placeholder="Password", name="SignPassword", id="SignPassword", class="Password Input">
        <input type="submit" value="Signup", class="InputBtn">
    </div>
</form>
{% endblock %}