<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='Base.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="MainBody">
            <div class="TopBar">
                <div class="Logo"></div>
                <div class="AccountContainer">
                    <img class="ProfilePicture" src="{{url_for('static', filename='PFP.png')}}" alt="{{url_for('static', filename='PFP.png')}}">
                    <input type="button" class="Menu" value="M">
                </div>
            </div>
            <div class="Body">
                {% block body %}{% endblock %}
            </div>
            <div class="Dock {{ShowDock}}">
                <a href="/"></a>
                <a href="/feed"></a>
                <a href="/chat"></a>
                <a href="/profile"></a>
            </div>
        </div>
    </body>
</html>