<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="MainBody">
            <div class="TopBar">
                <div class="Logo"></div>
            </div>
            <div class="Body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>