body{
    background-color: #0e0e0e;
    padding: 0;
    margin: 0;
}

.Page{
    width: 100vw;
    height: 100vh;
}

.Board-Container{
    display: flex;
    position: absolute;
    height: 500px;
    width: 700px;
    background-color: #252525;
    border-radius: 20px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    flex-wrap: 10px;
}