:root{
    --BackgroundColour: #2b2b2b;
    --SecondaryBackgroundColour: #3a3a3a;
}

*{
    background-color: var(--BackgroundColour);
}

.Navbar{
    background-color: var(--SecondaryBackgroundColour);
    width: 100px;
    height: 20px;
}

.NavContainer{
    background-color: none;
}