{% extends "Base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing</title>
<link rel="stylesheet" href="{{url_for('static', filename='Main.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='Landing.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='navBar.css')}}">
{% endblock %}

{% block body %}
<div class="Page">
    <nav class="navBar {{HasAccount}}">
        <ul class="">
            <a class="navButton" href=""></a>
            <a class="navButton" href=""></a>
            <a class="navButton" href=""></a>
        </ul>
        <div class="AccountSection">
            <a href="" class="navButton Profile {{HasAccount}}"></a>
            <a href="/auth" class="navButton Signup {{NoAccount}}">Account</a>
        </div>
    </nav>
    <div class="mainBody">
        <div class="topBar">
            <a href="" class="Logo">Something</a>
            <div class="topAccSection">
                <a href="" class="profileBtn Profile {{HasAccount}}"></a>
                <a href="" class="signupBtn Signup {{NoAccount}}">Account</a>
            </div>
        </div>
        <div class="Body">

        </div>
    </div>
</div>
{% endblock %}