{% extends "Base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
<link rel="stylesheet" href="{{url_for('static', filename='Main.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='Profile.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='navBar.css')}}">
{% endblock %}

{% block body %}
<nav class="navBar {{HasAccount}}">
    <ul class="">
        <a class="navButton" href=""></a>
        <a class="navButton" href=""></a>
        <a class="navButton" href=""></a>
    </ul>
    <div class="AccountSection">
        <a href="" class="navButton Profile {{HasAccount}}"></a>
    </div>
</nav>
<div class="Page">
    <div class="TopProfile">
        <div class="Banner"></div>
        <div class="UserInformation">
            <img src="{{ ProfileImageURL }}" alt="Profile Image" class="ProfileImage">
            <div class="UsersNameBox">
                <h3 class="Users-Name">{{ FName }} {{ LName }}</h3>
                <p class="Username">{{ Username }}</p>
            </div>
            {% if Connection == "Not Friends" %}
                <form action="{{ url_for('sendRequest', targetNID=NID) }}" method="post">
                    <button type="submit" class="SocialBtn">Add Friend</button>
                </form>

            {% elif Connection == "Requested" %}
                <form action="{{ url_for('cancelRequest', targetNID=NID) }}" method="post">
                    <button type="submit" class="SocialBtn">Cancel Request</button>
                </form>

            {% elif Connection == 'Request Received' %}
                <form action="{{ url_for('acceptRequest', requesterNID=requesterID) }}" method="post" style="display:inline;">
                    <button type="submit" class="SocialBtn">Accept Request</button>
                </form>
                <form action="{{ url_for('declineRequest', requesterNID=requesterID) }}" method="post" style="display:inline;">
                    <button type="submit" class="SocialBtn DeclineBtn">Decline</button>
                </form>

            {% elif Connection == 'Friends' %}
                <form action="{{ url_for('unfriend', targetNID=NID) }}" method="post">
                    <button type="submit" class="SocialBtn">Unadd</button>
                </form>

            {% elif Connection == "Own Profile" %}
                <button class="Hidden">UnAdd Friend</button>

            {% else %}
                <form action="{{ url_for('sendRequest', targetNID=NID) }}" method="post">
                    <button type="submit" class="SocialBtn">Add Friend</button>
                </form>
            {% endif %}
            {% if Connection != "Own Profile" %}
                <button class="MsgBtn">></button>
            {% endif %}
            {% if Connection == "Own Profile" %}
                <button class="EditBtn">Edit</button>
            {% endif %}
            <button class="ElipseBtn">...</button>
            <div class="ElipseMenu Hidden">
                <button class="BlockBtn">Block</button>
                <button class="ReportBtn">Report</button>
                <button class="ShareBtn">Share</button>
            </div>
        </div>
    </div>
    <div class="UsersPage"></div>
</div>
{% endblock %}
